.dark-mode {
  background-color: #FFB6C1;  /* Light background for dark mode */
  color: #000;  /* Text color for dark mode */

  /* Adjust colors for other elements as needed */
  h1,
  h2,
  h3,
  p {
    color: #000;
  }
  .btn-contato button
  {
      background-color: #007bff;  /* Example adjustment */
  }
  .btn-social button
  {
      background-color: #007bff;  /* Example adjustment */
  }

  
  #dark-mode-toggle {
      background-color: #007bff;
  }
  .especiliadades .especialidades-box {
    background-color: #333;  /* Example adjustment */
  }

  .btn-contato button {
    background-color: #007bff;  /* Example adjustment */
  }

  .topo-do-site .txt-topo-site h1 span {
      color: #007bff;
  }

  .topo-do-site .txt-topo-site p {
      color: #000000;
  }

  .topo-do-site .txt-topo-site h1 span {
      color: #007bff;
  }

  .cartao {
	background-color: #ffffff;
  }
  .cartao .informacoes span {
      color: #000000;
  }
  .cartao .informacoes {
    border: 1px solid #000000;
  } 
  header a {
      color: #000000;
  }

  .topo-do-site h1 {
      color: #000;
  }

  h2.titulo {
      color: #000000;
      font-size: 38px;
      text-align: center;
  }
  
  h2.titulo span {
      color: #007bff;
  }

  .btn-abrir-menu{
      background-color: #007bff;
  }

  .menu-mobile .btn-fechar i {
      color: #007bff;
  }

  #language-toggle {
      background-color: #007bff;
  }   
}