body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin: 0;
}

header p {
  font-size: 1.5em;
  margin-top: 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

section p {
  font-size: 1.2em;
}

.sobre-mim {
  text-align: justify;
}

.portfolio ul {
  list-style: none;
  padding: 0;
}

.portfolio li {
  display: inline-block;
  margin: 10px;
}

.portfolio li a {
  text-decoration: none;
  color: #333;
}

.portfolio li img {
  width: 100px;
  height: 100px;
}

.portfolio li h3 {
  font-size: 1em;
  margin-top: 10px;
  text-align: center;
}

.contato {
  text-align: center;
}

.contato p {
  margin-bottom: 10px;
}

.contato ul {
  list-style: none;
  padding: 0;
}

.contato li {
  display: inline-block;
  margin: 10px;
}

.contato li a {
  text-decoration: none;
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px
}